/* styles.css */

/* Estilo global para el body */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

/* Estilo para el header */
header {
    background-color: #2b2f32;
    color: white;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Estilo para el logo */
/* Centrar el logo  */
.logo {
    flex: 1;
    text-align: center;
}

.logo img {
    height: 70px;
    margin-left: 40px;
}

/* Estilo para el nav */
nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Estilo para el main */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1; /* Toma el espacio disponible */
}